header
    padding: 20px 0
    .imgbox
        width: 40px
    nav
        a
            color: #515151
            margin-right: 30px
            font-size: 20px
        .home-color
            color: #74bebc
        .icon
                display: none
                flex-direction: row
                border: 5px solid #4c9ccac4
                background-color: #4c9ccac4
                h1
                    font-size: 25px
                    padding-right: 4px
                i
                    font-size: 20px
                    color: #0202028c
                    padding-top: 3px

    @media screen and ( max-width: 768px )
        .imgbox
            width: 50px
        nav
            a
                display: none
            .icon
                display: flex

