#local
    .textbox
        height: 470px
        display: flex
        align-content: center
        flex-wrap: wrap
        h1
            font-weight: 700
            font-size: 60px
            color: #ffff
            margin: 0 70px 0 40px
            line-height: 1.1
        span
            color: #24667283
        .btn
            padding: 10px 30px
            margin: 30px 0 0 40px
            background-color: #ffff
            color: #38b6c1
            font-size: 22px
    .blue
        background-color: #35b6c1

    @media screen and ( max-width: 992px )
        .textbox
            height: 340px

    @media screen and ( max-width: 768px )
        // width: 1015px
        .imgbox
            width: 468px
            // margin-left: -110px
        .textbox
            height: 350px
            h1
                font-size: 50px
                margin: 0 40px 0 40px

    @media screen and ( max-width: 576px )
        .imgbox
            width: 100%